html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

button {
  &.primary {
    background-color: #0074D9;
    color: #fff;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  * {
    margin: 0 auto;
  }
}